<div class="center jumbotron">
  <h1>Alpha Blog</h1>
  <p>...</p>

  <%= link_to "Sign Up", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
   <%= link_to "Log In", login_path, class: "btn btn-success btn-lg btn-xlarge" %>
</div>