$navbar-default-bg: #000;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo
{
	float: left;
	font-size: 1.7em;
	color:#fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover{
	color: #fff;
	text-decoration: none;
}

.center{
	text-align: center;
}

.jumbotron{
	background-image: asset-url("image2.jpg");
	background-size: cover;
	height: 550px;
}
 .jumbotron h1{
 text-align: center;
 margin-buttom: 30px;
 color: #fff;
 font-weight: bold;
 letter-spacing: -1px;
 }

 .btn-xlarge{
 font-size:1.7em;
 background-color: #000;
 }
  .footer{
  margin-top:45px;
  padding-top: 5px;
  border-top:1px solid #eaeaea;
  background-color: #000;
 
  }

.article-actions{
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}

.description{
	margin-top: 0px;
}

.article-title{
	font-weight: bold;
	font-size: 1.5em;
	
}


.article-body{
	border-top: 1px solid #eaeaea;
	padding-top:15px;
	paddding-buttom:15px;
}

.footer a:hover {
	color: #222;
}

.footer small{
	float: left;
}

footer ul{
	float: right;
	list-style: none;
}

.footer ul li{
	float: left;
	margin-left:15px;
} 

.navbar-default .navbar-nav > li > a {
    color: #3f87b1;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

.article-meta-details{
	border-top: 1px solid #eaeaea;
	margin-top: 15px;
}

.listing {

list-style: none;

padding-left: 0;

}

.badge {
	background-color: #CEF6F5;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

.input_checkbox input {
	width: auto !important;
}