<div class="container">
	<footer class="footer">
		<small>

			copyright &copy; <a href="https://www.udemy,com">The complete ruby on rails developer</a>
			by <a href="https://mashrurhossain.com/">Panuza Parajuli</a>
		</small>
		
	</footer>
</div>