<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'false' %>
  </head>

  <body>
  <%= render 'layouts/navigation' %> 
	<%= render 'layouts/messages' %>
  <div class="container">
	 <%= yield %>
  </div>
   <%= render 'layouts/footer' %>
   <%= debug(params) if Rails.env.development? %>
  </body>
</html>
